---
import '../styles/global.css';

// import card container styles(reusing)
import '../styles/components/FeaturedCardStyles.css';

import { Icon } from 'astro-icon/components';

//sample activist JSON data
import activistJSON from '../data/featuredActivists.json';

const { startIndex, endIndex, title } = Astro.props;
---

<div class="section-container featured-card-section">
	<h2 class="section-heading">{title}</h2>

	<!-- container to wrap activist cards -->

	<!-- render the activists from activistJSON -->
	<div class="cards-container">
		{
			activistJSON.map((activist) => (
				<a class="card activist-card" href={`/climate-champions/${activist.slug}`}>
					<div class="img-wrapper" style="padding: 0;"> 
						<img src={activist.logoUrl} alt={activist.name} style="object-fit: cover;"/>
					</div>
					<div class="details">
						<h3 class="name">{activist.name}</h3>
						<p class="location">
							<span class="icon">
								<Icon name="mdi:my-location" class="icon" />
							</span>
							<span class="address">{activist.address}</span>
						</p>
						<p class="about">{activist.description.substring(0, 112)}...</p>

						<div class="tags">
							{activist.tags.slice(0,3).map((tag) => (
								<span class="tag">{tag}</span>
							))}
						</div>
					</div>
				</a>
			))
		}

		<!-- slide control bars for mobile display -->

		<div class="card-controls activist-card-controls">
			<span class="bar bar-activist-section"></span>
			<span class="bar bar-activist-section"></span>
			<span class="bar bar-activist-section"></span>
			<span class="bar bar-activist-section"></span>
		</div>
	</div>

	<!-- link to redirect landing pages of activists -->
	<a href="/climate-champions" class="cta-link">See All</a>
</div>


<script>
	import { createMobileSlider } from "src/utils/slider";
	
	// Get the necessary elements
	const cards = document.querySelectorAll<HTMLElement>(".activist-card");
	const cardControlsElement = document.querySelector<HTMLElement>(".activist-card-controls");
	const bars = cardControlsElement?.querySelectorAll<HTMLElement>(".bar-activist-section");
	
	// Check if cardControlsElement and bars are not null
	if (cardControlsElement && bars) {
		// Call the function to create the mobile slider
		createMobileSlider(cards, cardControlsElement, bars);
	}
	</script>

