---
import "../styles/global.css";

// import card container styles(reusing)
import "../styles/components/FeaturedCardStyles.css";

import { Icon } from "astro-icon/components";

//sample organization JSON organization
import organizationJSON from "../data/organizations.json";
const {startIndex, endIndex, title} = Astro.props;

console.log(startIndex,  endIndex);
---

<div class="section-container featured-card-section">
	<h2 class="section-heading">{title}</h2>

	<!-- container to wrap organization cards -->

	<!-- render the organization from organizationJSON -->
	<div class="cards-container">
		{
			organizationJSON.slice(startIndex, endIndex).map((organization) => (
			<a class="card organization-card" href={`/organizations/${organization.slug}`}>
					<div class="img-wrapper" style="padding: 4px 8px">
						<img src={organization.logoUrl} alt={organization.name} style="object-fit: contain;" />
					</div>
					<div class="details">
						<h3 class="name">{organization.name}</h3>
						<p class="location">
							<span class="icon">
								<Icon name="mdi:my-location" class="icon" />
							</span>
							<span class="address">{organization.address}</span>
						</p>
						<p class="about">{organization.description.substring(0, 112)}...</p>
						<div class="tags">
							{organization.tags.slice(0, 3).map((tag: string) => (
								<span class="tag">{tag}</span>
							))}
						</div>
					</div>
				</a>
			))
		}

		<!-- slide control bars for mobile display -->

		<div class="card-controls organization-card-controls">
			<span class="bar bar-organization-section"></span>
			<span class="bar bar-organization-section"></span>
			<span class="bar bar-organization-section"></span>
			<span class="bar bar-organization-section"></span>
		</div>
	</div>

	<!-- link to redirect landing page of organizations -->
	<a href="/organizations" class="cta-link">See All</a>
</div>

<script>
	import { createMobileSlider } from "src/utils/slider";
	
	// Get the necessary elements
	const cards = document.querySelectorAll<HTMLElement>(".organization-card");
	const cardControlsElement = document.querySelector<HTMLElement>(".organization-card-controls");
	const bars = cardControlsElement?.querySelectorAll<HTMLElement>(".bar-organization-section");
	
	// Check if cardControlsElement and bars are not null
	if (cardControlsElement && bars) {
		// Call the function to create the mobile slider
		createMobileSlider(cards, cardControlsElement, bars);
	}
	</script>

