---
import "../styles/global.css";
// import newsTemp from '../data/newsTemp.json';
import type { NewsItem, NewsTag } from "../types/news"; // Import NewsItem and NewsTag types
import { fetchNews } from "../api"; // Import fetchNews function
// Removed static JSON import
// import unsortedNewsJSON from "../data/news.json";
import sortNewsArray from "../utils/sortNewsArray.js";
import type { SortData } from "../utils/sortNewsArray.js";
import NewsCard from '../components/NewsCard';
import styles from '../styles/components/News.module.css';

// Fetch news data from API
const { data: apiNews } = await fetchNews();
// console.log(apiNews);

const transformedData: SortData[] = (apiNews || []).map((item, index) => ({
  id: index.toString(),
  title: item.title,
  source: item.source,
  mode: item.mode,
  category: item.tags.map((tag: any) => String(tag.tag)),
  publishedDate: item.publishedDate,
  publishedYear: item.publishedYear,
  newsLink: item.newsLink,
  contributedBy: item.contributedBy,
  imgSrc: item.bannerImageUrl,
}));

const NewsJSON = sortNewsArray(transformedData);
---

<div class="section-container">
  <h2 class="section-heading">News</h2>

  <!-- container to wrap news cards -->

  <div class={styles.newsContainer}>
    <!-- news card one -->

    {
      NewsJSON.slice(0, 6).map((news: any) => (
        <NewsCard
          title={news.title}
          source={news.source}
          mode={news.mode}
          publishedDate={news.publishedDate}
          newsLink={news.newsLink}
        />
      ))
    }
  </div>

  <!-- link to redirect to news landing page -->
  <a href="/news" class="cta-link">See All</a>
</div>

<style>
  .section-container {
    margin: 53px auto 83px;
    position: relative;
  }

  .section-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .cta-link {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    color: #364fc7;
    font-size: 12px;
  }

  /* media queries for desktop */

  @media screen and (max-width: 768px) {
    .section-container {
      margin: 24px 32px 64px;
    }
  }
</style>
