---
import '../styles/global.css';

// import card container styles(reusing)
import '../styles/components/FeaturedCardStyles.css';

import { Icon } from 'astro-icon/components';
import { createSlug } from '../utils/slug';

// Import the same JSON file that's used in the events page
import eventJSON from '../data/dummy-event.json';

const { startIndex, endIndex, title, currentEventId } = Astro.props;

// Filter out the current event if currentEventId is provided
const filteredEvents = currentEventId 
  ? eventJSON.filter(event => event.id.toString() !== currentEventId.toString())
  : eventJSON;

// Get a slice of events based on startIndex and endIndex
const featuredEvents = filteredEvents.slice(startIndex, endIndex);
---

<div class="section-container featured-card-section">
	<h2 class="section-heading">{title}</h2>

	<!-- container to wrap event cards -->

	<!-- render the event from eventJSON -->
	<div class="cards-container">
		{
			featuredEvents.map((event) => (
			<a class="card event-card" href={`/events/${createSlug(event.title)}`}>
					<div class="img-wrapper" style="padding: 0px;">
						<img src={event.bannerImage || "/placeholder.svg"} alt={event.title} style="object-fit: cover;" />
					</div>
					<div class="details">
						<h3 class="name">{event.title}</h3>
						<p class="location">
							<span class="icon">
								<Icon name="mdi:my-location" class="icon" />
							</span>
							<span class="address">{event.location}</span>
						</p>
						<p class="about">{event.description.split("<br>")[0].substring(0, 108)}...</p>
						<div class="tags">
							{event.category.slice(0, 3).map((tag: string) => (
								<span class="tag">{tag}</span>
							))}
						</div>
					</div>
				</a>
			))
		}

		<!-- slide control bars for mobile display -->

		<div class="card-controls event-card-controls">
			<span class="bar bar-event-section"></span>
			<span class="bar bar-event-section"></span>
			<span class="bar bar-event-section"></span>
			<span class="bar bar-event-section"></span>
		</div>
	</div>

	<!-- link to redirect landing page of events -->
	<a href="/events" class="cta-link">See All</a>
</div>

<style>
	.featured-card-section {
  	margin: 53px auto 40px auto;
}

@media screen and (max-width: 768px) {
  .featured-card-section {
    margin: 24px 32px 64px;
  }

}
</style>


<script>
	import { createMobileSlider } from "src/utils/slider";
	
	// Get the necessary elements
	const cards = document.querySelectorAll<HTMLElement>(".event-card");
	const cardControlsElement = document.querySelector<HTMLElement>(".event-card-controls");
	const bars = cardControlsElement?.querySelectorAll<HTMLElement>(".bar-event-section");
	
	// Check if cardControlsElement and bars are not null
	if (cardControlsElement && bars) {
		// Call the function to create the mobile slider
		createMobileSlider(cards, bars);
	}
</script>

