---
import "../styles/global.css";

// import card container styles(reusing)
import "../styles/components/FeaturedCardStyles.css";

import { Icon } from "astro-icon/components";

// import opportunityJSON from '../data/opportunitiesTemp.json';
import { fetchOpportunities } from "../api";
import logo from "../assets/logo/secondaryLogo.svg";
import { createSlug } from "../utils/slug";

const { data: apiOpportunity } = await fetchOpportunities();
const { startIndex, endIndex, title } = Astro.props;

const stripHtml = (html: string) => {
  return html.replace(/<[^>]*>/g, "");
};

const transformedOpportunities = (apiOpportunity || [])
  .filter(
    (opportunity) =>
      opportunity?.bannerImageUrl &&
      opportunity.title &&
      opportunity.tags &&
      opportunity.locationType
  )
  .map((opportunity: any) => ({
    id: opportunity.id,
    title: opportunity.title,
    type: opportunity.type,
    location:
      opportunity.locationType.charAt(0).toUpperCase() +
      opportunity.locationType.slice(1).toLowerCase(),
    province: opportunity.address?.state || '',
    status: opportunity.status,
    format: opportunity.format,
    cost: opportunity.cost,
    category: opportunity.tags?.map((tag: any) => tag.tag) || opportunity.category || [],
    bannerImage: opportunity.bannerImageUrl || '/placeholder.svg',
    description: stripHtml(opportunity.description || '') || '',
    organizer: opportunity.organizer || '',
    registrationLink: opportunity.websiteUrl|| '',
    contactEmail: opportunity.contactEmail || '',
  }));


  const featuredOpportunities = transformedOpportunities.slice(
    startIndex,
    Math.min(endIndex, startIndex + 4)
  );
---

<div class="section-container featured-card-section"> 
  <h2 class="section-heading">{title}</h2>

  <!-- container to wrap opportunity cards -->

  <!-- render the opportunities from opportunityJSON -->
  <div class="cards-container" style="margin-bottom:72px;">
    {
      featuredOpportunities.map((oppportunity) => (
        <a
          class="card opportunity-card"
          href={`/opportunities/${createSlug(oppportunity.title)}`}
        >
          <div class="img-wrapper" style="padding: 0px;">
            <img
              src={oppportunity.bannerImage || logo.src}
              alt={oppportunity.title}
              style={
                oppportunity.bannerImage
                  ? {}
                  : { width: "80%", height: "auto", margin: "20px" }
              }
            />
          </div>
          <div class="details">
            <h3 class="name">{oppportunity.title}</h3>
            <p class="location">
              <span class="icon">
                <Icon name="mdi:my-location" class="icon" />
              </span>
              <span class="address">{oppportunity.location}</span>
            </p>
            <p
              class="about"
              set:html={oppportunity.description.substring(0, 108) + "..."}
              style="font-style: normal;"
            />
            <div class="tags">
              {oppportunity.category.slice(0, 3).map((tag: string) => (
                <span class="tag">{tag}</span>
              ))}
            </div>
          </div>
        </a>
      ))
    }

    <!-- slide control bars for mobile display -->

    <div class="card-controls opportunity-card-controls">
      <span class="bar bar-opportunity-section"></span>
      <span class="bar bar-opportunity-section"></span>
      <span class="bar bar-opportunity-section"></span>
      <span class="bar bar-opportunity-section"></span>
    </div>
  </div>

  <!-- link to redirect landing page of opportunities -->
  <a href="/opportunities" class="cta-link">See All</a>
</div>

<style>
  .featured-card-section {
    margin: 53px auto 40px auto;
  }

  @media screen and (max-width: 768px) {
    .featured-card-section {
      margin: 24px 32px 64px;
    }
  }
</style>

<script>
  import { createMobileSlider } from "../utils/slider";

  // Get the necessary elements
  const cards = document.querySelectorAll<HTMLElement>(".opportunity-card");
  const cardControlsElement = document.querySelector<HTMLElement>(
    ".opportunity-card-controls"
  );
  const bars = cardControlsElement?.querySelectorAll<HTMLElement>(
    ".bar-opportunity-section"
  );

  // Check if cardControlsElement and bars are not null
  if (cardControlsElement && bars) {
    // Call the function to create the mobile slider
 
    createMobileSlider(cards, bars);
  }
</script>
