---
import "../styles/global.css";

// import card container styles(reusing)
import "../styles/components/FeaturedCardStyles.css";

import { Icon } from "astro-icon/components";

//sample event JSON event
import eventJSON from "../data/events.json";
const {startIndex, endIndex, title} = Astro.props;

---

<div class="section-container featured-card-section">
	<h2 class="section-heading">{title}</h2>

	<!-- container to wrap event cards -->

	<!-- render the event from eventJSON -->
	<div class="cards-container">
		{
			eventJSON.slice(startIndex, endIndex).map((event) => (
			<a class="card" href={`/events/${event.slug}`}>
					<div class="img-wrapper" style="padding: 0px;">
						<img src={event.logoUrl} alt={event.name} style="object-fit: cover;" />
					</div>
					<div class="details">
						<h3 class="name">{event.name}</h3>
						<p class="location">
							<span class="icon">
								<Icon name="mdi:my-location" class="icon" />
							</span>
							<span class="address">{event.address}</span>
						</p>
						<p class="about">{event.description.substring(0, 108)}...</p>
						<div class="tags">
							{event.tags.slice(0, 3).map((tag: string) => (
								<span class="tag">{tag}</span>
							))}
						</div>
					</div>
				</a>
			))
		}

		<!-- slide control bars for mobile display -->

		<div class="card-controls">
			<span class="bar bar-event-section"></span>
			<span class="bar bar-event-section"></span>
			<span class="bar bar-event-section"></span>
			<span class="bar bar-event-section"></span>
		</div>
	</div>

	<!-- link to redirect landing page of events -->
	<a href="/events" class="cta-link">See All</a>
</div>

<style>
	.featured-card-section {
  	margin: 53px auto 40px auto;
}
</style>


<script>
	// reuse the slider function
	import { slider } from "../utils/slider.ts";

	// function to initialize the slider after DOM is fully loaded
	const initSlider = () => {
		const cards = document.querySelectorAll<HTMLElement>(".card");
		const slideControlButtons = document.querySelectorAll<HTMLElement>(
			".bar-event-section"
		);

		slider(cards, slideControlButtons);
	};

	// execute the function once the DOM is loaded
	window.addEventListener("DOMContentLoaded", initSlider);
</script>
