---
import birthdayPlantation from "./../assets/personal-commitment/birthday-plantation.jpg";
import ecofriendlyClothes from "./../assets/personal-commitment/ecofriendly-clothes.jpg";
import ecofriendlyProducts from "./../assets/personal-commitment/ecofriendly-products.jpg";
import giftPlant from "./../assets/personal-commitment/gift-plant.jpg";
import greenInvestment from "./../assets/personal-commitment/green-investment.jpg";
import happyFamily from "./../assets/personal-commitment/happy-family.jpeg";
import localFood from "./../assets/personal-commitment/local-food.jpg";
import nepalForest from "./../assets/personal-commitment/nepal-forest.jpg";
import plantBasedDiet from "./../assets/personal-commitment/plant-based-diet.jpg";
import publicTransport from "./../assets/personal-commitment/public-transport.jpg";
import reuseRecycle from "./../assets/personal-commitment/reuse-recycle.jpg";
import rooftopFarming from "./../assets/personal-commitment/rooftop-farming.jpg";
import solarEnergy from "./../assets/personal-commitment/solar-energy.jpg";
import tharuHomestay from "./../assets/personal-commitment/tharu-homestay.jpeg";
import toteBag from "./../assets/personal-commitment/tote-bag.jpg";
import trekNepal from "./../assets/personal-commitment/trek-nepal.jpg";
---

<div class="section-container">
	<h2 class="section-heading">Personal Commitments</h2>
	<p class="tagline">
		We need pressure on leaders, but individuals must also live green. Simple
		acts like saving energy and avoiding waste matter and motivate change.
		Adopting eco-habits builds a culture prioritizing planet and prosperity
		equally.
	</p>

	<!-- container to wrap commitment cards -->
	<div class="card-container">
		<!-- Commitment cards -->
		<div class="card">
			<div class="img-wrapper">
				<img
					src={publicTransport.src}
					alt=""
				/>
			</div>
			<p class="text">
				Walk, cycle, or use public transportation whenever possible instead of
				personal vehicles
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={toteBag.src}
					alt=""
				/>
			</div>
			<p class="text">
				Use reusable bags, bottles, and containers to minimize single-use
				plastic consumption
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
				src={localFood.src}
					alt=""
				/>
			</div>
			<p class="text">
				Buy local and seasonal produce, and support farmers who practice
				sustainable and organic farming methods
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={happyFamily.src}
					alt=""
				/>
			</div>
			<p class="text">
				Discuss climate change with friends and family, and encourage
				sustainable practices in your community
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={solarEnergy.src}
					alt=""
				/>
			</div>
			<p class="text">
				Reduce household energy consumption by using energy-efficient
				appliances, LED lights, and proper insulation
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={nepalForest.src}
					alt=""
				/>
			</div>
			<p class="text">
				Participate in community tree-planting initiatives and protect existing
				forests and green areas
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={plantBasedDiet.src}
					alt=""
				/>
			</div>
			<p class="text">
				Reduce meat consumption and choose plant-based, locally-sourced foods to
				lower your carbon footprint
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={reuseRecycle.src}
					alt=""
				/>
			</div>
			<p class="text">
				Repair, reuse, and recycle products to minimize waste and support the
				circular economy
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={greenInvestment.src}
					alt=""
				/>
			</div>
			<p class="text">
				Divest personal investments from fossil fuels and support green
				financial instruments
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={ecofriendlyProducts.src}
					alt=""
				/>
			</div>
			<p class="text">
				Choose to buy products with minimal or eco-friendly packaging to reduce
				waste
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={ecofriendlyClothes.src}
					alt=""
				/>
			</div>
			<p class="text">
				Avoid purchasing leather goods and opt for cruelty-free and sustainable
				alternatives
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={rooftopFarming.src}
					alt=""
				/>
			</div>
			<p class="text">
				Reduce food waste by planning meals carefully, using leftovers
				creatively, and composting kitchen scraps to create valuable soil for
				gardening
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={giftPlant.src}
					alt=""
				/>
			</div>
			<p class="text">
				Give eco-friendly gifts like potted plants, promoting sustainability and
				reconnecting with nature
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={birthdayPlantation.src}
					alt=""
				/>
			</div>
			<p class="text">
				Plant trees on birthdays and at celebrations to offset carbon emissions
				and support biodiversity, leaving a lasting environmental legacy
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={trekNepal.src}
					alt=""
				/>
			</div>
			<p class="text">
				Choose to trek and camp in the Himalayas, enjoying authentic local
				cuisines, and avoid costly international travel
			</p>
		</div>

		<div class="card">
			<div class="img-wrapper">
				<img
					src={tharuHomestay.src}
					alt=""
				/>
			</div>
			<p class="text">
				Stay in traditional homestays while traveling to support the local
				economy rather than staying in expensive hotels
			</p>
		</div>
	</div>
</div>

<style>
	.section-container {
		margin: 53px auto 83px;
		position: relative;
	}

	.section-heading {
		font-size: 24px;
		font-weight: 700px;
		line-height: 32px;
		margin-bottom: 24px;
	}

	.tagline {
		line-height: 16px;
		margin-bottom: 27px;
	}

	.card-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;
	}

	.card {
		width: 32%;
		height: 200px;
		position: relative;
	}

	.card { 
		border-radius: 16px;
	}

	.card::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 16px;
		index: -12;
	}

	/* .card:hover::before {
		background-color: rgba(0, 0, 0, 0);
	} */

	.img-wrapper {
		width: 100%;
		height: 100%;
		border-radius: 16px;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 16px;
	}

	.text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		width: 90%;
	}


	@media screen and (max-width: 924px) {
		.card-container {
		}

		.card {
			width: 48%;
		}
	}

	@media screen and (max-width: 768px) {
		.section-container {
			margin: 24px 32px 64px;
		}

		.card {
			width: 100%;
		}
	}
</style>
