---
import avoidLeather from "./../assets/personal-commitment/avoid-leather.jpg";
import cleanUp from "./../assets/personal-commitment/clean-up.jpg";
import ecoFriendlyPot from "./../assets/personal-commitment/eco-friendly-pot.jpg";
import greenInvestment from "./../assets/personal-commitment/green-investment.jpg";
import localProduction from "./../assets/personal-commitment/local-production.jpg";
import plantBasedDiet from "./../assets/personal-commitment/plant-based-diet.jpg";
import publicTransport from "./../assets/personal-commitment/public-transport.jpg";
import stunningHimalayas from "./../assets/personal-commitment/stunning-himalayas.jpg";
---

<div class="section-container">
	<h2 class="section-heading">Action Steps</h2>
	<p class="tagline">
		We all have a role to play in building a healthy, climate-resilient Nepal.
		Explore the actions cards below to learn about the many ways you, your
		friends and your families can lower your carbon footprint, protect the
		environment, and support the economy of your local community.
	</p>

	<!-- container to wrap commitment cards -->
	<div class="card-container">
		<!-- Commitment cards -->
		<div class="card card-1">
			<div class="img-wrapper">
				<img src={publicTransport.src} alt="" />
			</div>
			<p class="text">
				Walk, cycle, or use public transportation whenever possible instead of
				personal vehicles
			</p>
		</div>

		<div class="card card-2">
			<p class="text">
				Use reusable bags, bottles, and containers to minimize single-use
				plastic consumption
			</p>
		</div>

		<div class="card card-3">
			<div class="img-wrapper">
				<img src={localProduction.src} alt="" />
			</div>
			<p class="text">
				Buy local and seasonal produce and support farmers who practice
				sustainable, organic farming methods
			</p>
		</div>

		<div class="card card-4">
			<p class="text">
				Discuss climate change with friends and family, and encourage
				sustainable practices in your community
			</p>
		</div>

		<div class="card card-5">
			<div class="img-wrapper">
				<img src={cleanUp.src} alt="" />
			</div>
			<p class="text">
				Participate in community clean-up initiatives to preserve waterways and
				green spaces
			</p>
		</div>

		<div class="card card-5">
			<p class="text">
				Reduce home energy consumption by using energy-efficient appliances, LED
				lights, and insulation
			</p>
		</div>

		<div class="card card-6">
			<div class="img-wrapper">
				<img src={plantBasedDiet.src} alt="" />
			</div>
			<p class="text">
				Reduce meat consumption and choose plant-based foods to lower your
				carbon footprint
			</p>
		</div>

		<div class="card card-7">
			<p class="text">
				Repair, reuse, and recycle products to minimize waste and support the
				circular economy
			</p>
		</div>

		<div class="card card-8">
			<div class="img-wrapper">
				<img src={greenInvestment.src} alt="" />
			</div>
			<p class="text">
				Divest personal investments from fossil fuels and support green
				financial instruments
			</p>
		</div>

		<div class="card card-9">
			<p class="text">
				Choose to buy products with minimal or eco-friendly packaging to reduce
				waste
			</p>
		</div>

		<div class="card card-10">
			<div class="img-wrapper">
				<img src={stunningHimalayas.src} alt="" />
			</div>
			<p class="text">
				Explore the stunning Himalayas and enjoy authentic local cuisine instead
				of costly international travel
			</p>
		</div>

		<div class="card card-11">
			<p class="text">
				Reduce food waste by planning meals, using leftovers creatively, and
				composting kitchen scraps
			</p>
		</div>

		<div class="card card-12">
			<div class="img-wrapper">
				<img src={ecoFriendlyPot.src} alt="" />
			</div>
			<p class="text">
				Give eco-friendly gifts like potted plants to promote sustainability and
				reconnecting with nature
			</p>
		</div>

		<div class="card card-13">
			<p class="text">
				Plant trees at celebrations to offset carbon emissions and create a
				lasting environmental legacy
			</p>
		</div>

		<div class="card card-14">
			<div class="img-wrapper">
				<img src={avoidLeather.src} alt="" />
			</div>
			<p class="text">
				Avoid purchasing leather goods and opt for cruelty-free and sustainable
				alternatives
			</p>
		</div>

		<div class="card card-15">
			<p class="text">
				Choose traditional homestays over expensive hotels to support local
				economies
			</p>
		</div>
	</div>
</div>

<style>
	.section-container {
		margin: 53px auto 83px;
		position: relative;
	}

	.section-heading {
		font-size: 24px;
		font-weight: 700px;
		line-height: 32px;
		margin-bottom: 24px;
	}

	.tagline {
		line-height: 24px;
		font-size: 16px;
		margin-bottom: 27px;
	}

	.card-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(6, 224px);
		grid-gap: 16px;
	}

	.card {
		border-radius: 8px;
		overflow: hidden;
		position: relative;
	}

	.img-wrapper {
		width: 100%;
		height: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card:nth-of-type(even)::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: #364fc7;
	}

	.card:nth-of-type(odd)::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.text {
		font-family: "Zilla Slab", serif;
		color: white;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		position: absolute;
		top: 16px;
		left: 12px;
		right: 12px;
	}

	.card-1 {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}

	.card-10 {
		grid-column: 2 / span 2;
		grid-row: 4 / span 2;
	}

	@media screen and (max-width: 1156px) {
		.section-container {
			margin: 24px 32px 64px;
		}

		.card-container {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(7, 224px);
		}
	}

	@media screen and (max-width: 996px) {
		.card-container {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(8, 224px);
		}

		.card-1 {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}

		.card-10 {
			grid-column: 2 / span 1;
			grid-row: 4 / span 1;
		}
	}

	@media screen and (max-width: 656px) {
		.card-container {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(15, 224px);
		}

		.card-1 {
			grid-column: 1 / 1;
			grid-row: 1 / 2;
		}

		.card-10 {
			grid-column: 1 / 1;
			grid-row: 11 / 12;
		}
	}
</style>
