---
import birthdayPlantation from "./../assets/personal-commitment/birthday-plantation.jpg";
import ecofriendlyClothes from "./../assets/personal-commitment/ecofriendly-clothes.jpg";
import giftPlant from "./../assets/personal-commitment/gift-plant.jpg";
import greenInvestment from "./../assets/personal-commitment/green-investment.jpg";
import localFood from "./../assets/personal-commitment/local-food.jpg";
import plantBasedDiet from "./../assets/personal-commitment/plant-based-diet.jpg";
import publicTransport from "./../assets/personal-commitment/public-transport.jpg";
import reuseRecycle from "./../assets/personal-commitment/reuse-recycle.jpg";
import rooftopFarming from "./../assets/personal-commitment/rooftop-farming.jpg";
import solarEnergy from "./../assets/personal-commitment/solar-energy.jpg";
import tharuHomestay from "./../assets/personal-commitment/tharu-homestay.jpeg";
import toteBag from "./../assets/personal-commitment/tote-bag.jpg";
import trekNepal from "./../assets/personal-commitment/trek-nepal.jpg";
---

<div class="section-container">
	<h2 class="section-heading">Action Steps</h2>
	<p class="tagline">
		We all have a role to play in building a healthy, climate-resilient Nepal.
		Explore the actions cards below to learn about the many ways you, your
		friends and your families can lower your carbon footprint, protect the
		environment and support the economy of your local community.
	</p>

	<!-- container to wrap commitment cards -->
	<div class="card-container">
		<!-- Commitment cards -->
		<div class="card card-1">
			<div class="img-wrapper">
				<img src={trekNepal.src} alt="" />
			</div>
			<p class="text">
				Discuss climate change with friends and family, and encourage
				sustainable practices in your community
			</p>
		</div>

		<div class="card card-2">
			<div class="img-wrapper">
				<img src={publicTransport.src} alt="" />
			</div>
			<p class="text">
				Discuss climate change with friends and family, and encourage
				sustainable practices in your community
			</p>
		</div>

		<div class="card card-3">
			<div class="img-wrapper">
				<img src={toteBag.src} alt="" />
			</div>
			<p class="text">Use reusable bags & containers</p>
		</div>

		<div class="card card-4">
			<div class="img-wrapper">
				<img src={localFood.src} alt="" />
			</div>
			<p class="text">Buy from local, organic farmers</p>
		</div>

		<div class="card card-5">
			<div class="img-wrapper">
				<img src={solarEnergy.src} alt="" />
			</div>
			<p class="text">Reduce household energy use</p>
		</div>

		<div class="card card-6">
			<div class="img-wrapper">
				<img src={birthdayPlantation.src} alt="" />
			</div>
			<p class="text">Join community planting projects</p>
		</div>

		<div class="card card-7">
			<div class="img-wrapper">
				<img src={plantBasedDiet.src} alt="" />
			</div>
			<p class="text">Reduce meat consumption</p>
		</div>

		<div class="card card-8">
			<div class="img-wrapper">
				<img src={reuseRecycle.src} alt="" />
			</div>
			<p class="text">Repair, reuse & recycle everyday goods</p>
		</div>

		<div class="card card-9">
			<div class="img-wrapper">
				<img src={greenInvestment.src} alt="" />
			</div>
			<p class="text">Support green banking</p>
		</div>

		<div class="card card-10">
			<div class="img-wrapper">
				<img src={ecofriendlyClothes.src} alt="" />
			</div>
			<p class="text">Sustainable & eco friendly clothing</p>
		</div>

		<div class="card card-11">
			<div class="img-wrapper">
				<img src={rooftopFarming.src} alt="" />
			</div>
			<p class="text">Reduce food waste</p>
		</div>

		<div class="card card-12">
			<div class="img-wrapper">
				<img src={giftPlant.src} alt="" />
			</div>
			<p class="text">Give eco-friendly gifts</p>
		</div>

		<div class="card card-13">
			<div class="img-wrapper">
				<img src={tharuHomestay.src} alt="" />
			</div>
			<p class="text">Choose homestays over hotels</p>
		</div>
	</div>
</div>

<style>
	.section-container {
		margin: 53px auto 83px;
		position: relative;
	}

	.section-heading {
		font-size: 24px;
		font-weight: 700px;
		line-height: 32px;
		margin-bottom: 24px;
	}

	.tagline {
		line-height: 24px;
		font-size: 16px;
		margin-bottom: 27px;
	}

	.card-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 224px);
		grid-gap: 16px;
	}

	.card {
		border-radius: 8px;
		overflow: hidden;
		position: relative;
	}

	.img-wrapper {
		width: 100%;
		height: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card:nth-of-type(even)::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: #364fc7;
	}

	.card:nth-of-type(odd)::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.text {
		font-family: "Zilla Slab", serif;
		color: white;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		position: absolute;
		top: 16px;
		left: 12px;
		right: 12px;
	}

	.card-1 {
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}

	@media screen and (max-width: 1156px) {
		.section-container {
			margin: 24px 32px 64px;
		}

		.card-container {
			grid-template-columns: repeat(3, 1fr);
		}

		.card-1 {
			grid-column: 1/2;
			grid-row: 1/2;
		}
	}

	@media screen and (max-width: 996px) {
		.card-container {
			grid-template-columns: 1fr;
		}

		.card-container {
			grid-template-columns: repeat(2, 1fr);
		}

	}

	
	@media screen and (max-width: 656px) {
		.card-container {
			grid-template-columns: 1fr;
		}

		.card-container {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(13, 224px);
		}

	}
</style>
